In [5]:
def Maximum(x):
    return(max(x))

In [6]:
x = list(range(10))

In [7]:
Maximum(x)

9

In [8]:
def calculate(x , y):
    result = (x-y,x+y)
    return result

In [10]:
calculate(40,10)

(30, 50)

In [11]:
sum(x)

45

In [12]:
def Add(x):
    return sum(x)

In [31]:
def product(x):
    result = 1
    for i in x :
        result*=i
    return result

In [24]:
product(x)

362880

In [22]:
x.pop(0)

0

In [32]:
def sum_multi(x):
    even = x[::2]
    odd = x[1::2]
    sum_even = Add(even)
    multi_odd = product(odd)
    return sum_even , multi_odd

In [33]:
sum_multi(x)

(25, 384)

In [34]:
x={}

In [39]:
def cap(d):
    new = {}
    for key , value in d.items():
        new[key]=value.capitalize()
    return new

In [41]:
d = {"name":"zyad"}
cap(d)

{'name': 'Zyad'}

In [3]:
def akbar(d):
    result = ""
    for i in d:
        if len(i) > len(result):
            result = i
        
                
                
    return result

In [4]:
akbar(s)

'ahhmed'

In [1]:
s = {"ziyad" , "ahhmed" ,"adam"}

In [17]:
def ektbly():
    m=input("engez y3m ektb: ")
    x=m.split('-')
    x.sort
    print('-'.join(x))

In [18]:
ektbly()

engez y3m ektb: swksk-swpksks
swksk-swpksks